.wapper {
    background: rgb(107, 103, 100);
    text-align: center;
    margin-top: 0px;
    margin: 0px auto;
    width: 1000px;
    height: 650px;
}

#review {
    color: rgb(219, 172, 17);
    font-family: cursive;
}

.header {
    width: 900px;
    height: 60px;
    background: white;
    margin-left: 50px;
    float: left;
}

.header .logo {
    width: 300px;
    height: 60px;
    float: left;
}
.header .logo img{
    width: 80px;
    height: 60px;
    margin-right: 100px;
}

.header .menu {
    width: 600px;
    height: 60px;
    float: left;
    margin-top: 5px;
}

.menu ul li{
    float: left;
    list-style: none;
    text-align: center;
    margin-right: 30px;
    color: gray;
}

.menu ul li:hover{
    color: black;
}

.menu ul li a {
    text-decoration: none;
}
.content {
    margin-left: 50px;
    margin-top: 83px;
    background-image: url("images/reus.jpg");
    background-repeat: no-repeat;
    background-size: 900px 555px;
}
.content_in {
    padding-top: 33%;
    color: white;
    margin-bottom: 50px;
}


/* bai 2*/

.wrapper2 {
    margin: 0px auto;
    width: 900px;
    height: 621px;
    background: rgb(170, 192, 216);
}
.wrapper2 h1 {
    text-align: center;
    font-family: cursive;
}
table tr td{
    padding-top: 10px;
}
.head {
    width: 800px;
    height: 555px;
    background: #F1F1F1;
    margin: 0 auto;
}
.head h3 {
    text-align: center;
    font-family: cursive;
    padding-top: 15px;
}   

#button{
    text-align: center;
}
#button {
    text-align: center;
    padding-top: 5%;
}
#left {
    text-align: right;
    padding-left: 10%;
    margin-top: 10px;
}
#right {
    width: 53%;
    padding-left: 3%;
    margin-top: 10px;
}

input {
    border-radius: 0%;
}

/*Exercise 3 */
.wrapper3 {
    margin: 0px auto;
    width: 1000px;
    height: 630px;
}

.header3 {
    width: 1000px;
    height: 40px;
    background: #616161;
}

.header3 ul li {
    padding-left: 12%;
    float: left;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 1%;

}

.header3 ul li a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.content3 {
    width: 1000px;
    height: 490px;
    margin: 0px auto;
    background: rgb(241,241,241);
}

.content3 h2 {
    color: rgb(43, 43, 43);
    padding-top: 16px;
    text-align: center;
    margin-top: 0px;
    font-family: cursive;
}
.content3 .left {
    float: left;
    height: 200px;
    width: 50%;
}

.left3 .cat{
    
}
.left3 .cat img{
    width: 200px;
    height: 300px;
    margin-left: 30px;
    margin-top: -40px;
}
.content3 .right3 {
    float: left;
    margin-left: 300px;
    height: 345px;
    width: 50%;
    text-align: center; 
}
.footer {
    width: 1000px;
    height: 184px;
    background: rgb(2, 6, 58);
    margin-top: -76px;
}
p {
    font-family: cursive;
}
#button {
    color: white;
    background: orange;
    border: 1px solid #ccc!important;
}
.footer1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}
.footer1 #phillip {
    background: orange;
    border-radius: 0%;
    color: white;
}
.bang{
    float: left;
}